
# Node
node_modules/
.npm/
*.log

# Build
.next/

coverage/

# Env
.env*

# Editor
.vscode/
.DS_Store
*.swp
*.swo

# OS
Thumbs.db

# Misc
*.local
*.cache
*.tmp

# Output
out/

# Dependency lock
pnpm-lock.yaml
package-lock.json
yarn.lock
